.container-width {
    width: 650px;
    margin: 90px auto;   
}
body {
    background-image: url("images/set-bg.jpg");
    background-repeat: no-repeat;
    background-size: 130%;
}
select {
    width: 150px;
    height: 25px;
    border-radius: 5px;
    color: white;
    background-color: #868282;
    border: 1px solid black;
}
h1 {
    font-size: 80px;
    text-align: center;
    color: #d8e1ea;
    text-shadow: 2px 2px #00fff3;
}
.text {
    font-size: 23px;
    color: #f5f5f5;
    margin: 11px 30px 0px 26px;
}
.input {
    width: 210px;
    height: 28px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid;
}
span {
    color: red;
    font-size: 20px;
}
.button {
    border: none;
    background-color: #b5bac5;
    color: black;
    padding: 12px 21px;
    text-align: center;
    font-size: 17px;
    width: 165px;
    height: 40px;
    border-radius: 5px;
    margin: 22px 0px 22px 80px;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.user_id {
    margin-left: 99px;
}
.first_name {
    margin-left: 69px;
}
.middle_initial {
    margin-left: 45px;
}
.last_name {
    margin-left: 71px;
}
.email {
    margin-left: 124px;
}
.password {
    margin-left: 83px;
}
.address {
    margin-left: 98px;
}
.city {
    margin-left: 133px;
}
.state {
    margin-left: 40px;
}
.country {
    margin-left: 100px;
}
.pincode {
    margin-left: 62px;
}
.phone {
    margin-left: 118px;
}
.language {
    margin-left: -18px;
}


